version: '2'
services:
  nginx:
    build: ./dockerassets/nginx/
    container_name: nginx-container
    ports:
      - "80:80"
    links:
      - php
    volumes_from:
      - app-data

  php:
    build: ./dockerassets/php/
    container_name: php-container
    expose:
      - 9000
    links:
      - mysql
    volumes_from:
      - app-data

  composer:
    restart: 'no'
    image: prooph/composer:7.2
    command: [install, update]
    volumes:
      - .:/app

  app-data:
    image: php:7.2-fpm
    container_name: app-data-container
    volumes:
      - .:/var/www/html/
    command: "true"

  mysql:
    image: mysql:5.7
    container_name: mysql-container
    volumes_from:
      - mysql-data
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: lamia_assignment
    ports:
      - "12311:3306"

  mysql-data:
    image: mysql:5.7
    container_name: mysql-data-container
    volumes:
      - /var/lib/mysql
    command: "true"